<h4>Formularios <small> Template </small></h4>
<hr>
<form autocomplete="off" (ngSubmit)="save( formulario )" #formulario="ngForm">

    <div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">
                <input [ngModel]="usuario.nombre" name="nombre" [class.is-invalid]="nombreInput.invalid && nombreInput.touched" class="form-control" type="text" placeholder="Nombre" minlength="5" required #nombreInput="ngModel">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col-8">

                <input ngModel class="form-control" [class.is-invalid]="apellidoInput.invalid && apellidoInput.touched" name="apellido" type="text" placeholder="Apellido" minlength="2" required #apellidoInput="ngModel">
            </div>
        </div>

    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-8">

            <input class="form-control" ngModel name="email" [class.is-invalid]="correoInput.invalid && correoInput.touched" type="email" placeholder="Correo electrónico" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required #correoInput="ngModel">
        </div>
    </div>



    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
        </div>
    </div>

</form>