<h4>Formularios <small> Reactivos </small></h4>
<hr>
<form autocomplete="off" [formGroup]="formulario" (ngSubmit)="guardar()">

    <div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col">
                <input class="form-control" type="text" placeholder="Nombre" formControlName="nombre" [class.is-invalid]="validarNombre">
                <small class="text-danger" *ngIf="validarNombre">Ingrese al menos 5 digitos</small>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col">

                <input class="form-control" type="text" placeholder="Apellido" [class.is-invalid]="validarApellido" formControlName="apellido">
                <small *ngIf="validarApellido" class="text-danger">El apellido es requerido</small>
                <small *ngIf="apellidoHerrera" class="text-danger">El apellido Herrera no es permitido</small>
            </div>
        </div>

    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col">

            <input class="form-control" type="email" placeholder="Correo electrónico" [class.is-invalid]="validarEmail" formControlName="email">
            <small *ngIf="validarEmail" class="text-danger">El Correo no es válido</small>
        </div>
    </div>

    <div class="form-group row" formGroupName="direccion">
        <label class="col-2 col-form-label">Dirección</label>
        <div class="form-row col">
            <div class="col">
                <input type="text" class="form-control" placeholder="Estado" formControlName="estado" [class.is-invalid]="validarEstado">
                <small *ngIf="validarEstado" class="text-danger">El Estado es requerido</small>
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Ciudad" formControlName="ciudad" [class.is-invalid]="validarCiudad">
                <small *ngIf="validarCiudad" class="text-danger">La Ciudad es requerida</small>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Pasatiempo</th>
                        <th>Borrar</th>
                    </tr>
                </thead>
                <tbody formArrayName="pasatiempos">
                    <tr *ngFor="let pasatiempo of obtenerPasatiempos.controls; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td><input class="form-control" type="text" [formControlName]="i"> </td>
                        <td>
                            <button class="btn btn-danger" type="button" (click)="borrarPasatiempo( i )">
                                borrar
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col">
                    <button class="mt-3 mb-3 btn btn-primary btn-block" type="button" (click)="agregarPasatiempo()">
                        + Agregar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class=" form-group row ">
        <label class="col-2 col-form-label ">&nbsp;</label>
        <div class="input-group ">
            <button type="submit " class="btn btn-outline-primary btn-block ">
        Guardar
      </button>
        </div>
    </div>

</form>

<hr>
<pre>
    Estado del Formulario: {{ formulario.valid }}
    <br>
    Status: {{ formulario.status }}
    <br>
    Valores: {{ formulario.value | json }}
</pre>